@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bgGray: #B9B9B9
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  color: #000000;
  background: var(--bgGray);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'itim', sans-serif;
}


@font-face {
  font-family: 'itim';
  src: url('./fonts/Itim/Itim-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}